accelerate
asgiref
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
diffusers
dj-database-url
Django
filelock
fonttools
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
h11
httplib2
huggingface-hub
idna
importlib_metadata
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pillow
proto-plus
protobuf
psutil
psycopg2-binary
py3-tts
pyasn1
pyasn1_modules
PyAudio
pydub
pyparsing
python-dateutil
pyttsx3
PyYAML
regex
requests
rsa
safetensors
six
SpeechRecognition
sqlparse
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
uritemplate
urllib3
uvicorn
whitenoise
zipp
